{% extends 'FOSUserBundle:ChangePassword:index.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">Сменить пароль</span>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div class="sonata-ba-view">
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-primary" type="submit" value="Изменить пароль" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock sonata_admin_content %}