{% block user_block %}
    {% if app.user %}
        <li>
            <a href="{{ url('fos_user_profile_show') }}">Профиль</a>
        </li>
        <li>
            <a href="{{ url('fos_user_profile_edit') }}">Редактировать профиль</a>
        </li>
        <li>
            <a href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>Выход</a>
        </li>
    {% endif %}
{% endblock %}